.searchContainer{
    position: relative;
    display: inline-block;
    width: 60%;
}
.search {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    
    height: 40px;
    
}

.searchButton{
    background-color: none;
    left: 10px;
    margin-top: 30px;
}