
*{
    background-color: black;
    color:white;
}
h1 {
    margin-top: 100px;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 100px;
}
/* FONT */
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* NavBar */
nav{

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px) saturate(180%);
    
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    padding-left: 0px;
    margin-left: 0px;
    position: relative;
    
    
}

nav a{
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px ;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    
}
nav a:hover {
    background-color: #00BFFF;
    color: white;
}
.active {
    background-color: #00BFFF;
    color: white;
}