h1 {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* FONT */
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* NavBar */
nav{
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-top: 25px;
    position: relative;
    
}
nav li {
    height: 50px;
    
}

nav a{
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px ;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    

}
nav a:hover {
    background-color: #ff3773;
    color: white;
}
.active {
    background-color: #ff3773;
    color: white;
}