* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout container */
.review_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  padding: 50px 80px;
}

/* left side */
.left_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie_poster {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 100px rgb(36, 195, 216);
  border-color: #00bfff;
}

.movie_title {
  font-family: "Limelight", sans-serif;
  font-size: 2rem;
  width: 300px;
  text-align: center;
  margin-top: 2vh;
  background: transparent;
}

/* right side */
.right_section {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.review_section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
}

/* stars for rating */
.stars {
  font-size: 3rem;
  color: gold;
  margin-bottom: 10px;
  text-align: center;
}

/* review title input */
.review_title {
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 1rem;
  background-color: #a4cdee4a;
  color: white;
}

/* review text area input */
.review_text {
  padding: 12px;
  border: none;
  border-radius: 6px;
  resize: none;
  width: 100%;
  font-size: 1rem;
  background-color: #a4cdee4a;
  color: white;
}

/* submit button */
.submit_btn {
  align-self: flex-end;
  margin-top: 20px;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
  background: linear-gradient(0deg, rgba(55, 123, 219, 0.687), rgb(0, 0, 0));
  border: 1px solid #00bfff;
}

.submit_btn:hover {
  background-color: #008fcc;
  transform: translate(-2px);
  box-shadow: 0 0 15px rgba(0, 191, 255, 0.6);
}

.submit_btn:active {
  transform: translateY(2px);
  box-shadow: inset 0 0 8px rgba(0, 191, 255, 0.5),
    0 0 5px rgba(0, 191, 255, 0.3);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 191, 255, 0.3));
}

/* responsive */ /*
@media (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
  }

  .review-section {
    max-width: 100%;
  }

  .submit-btn {
    align-self: center;
  }
}
*/
