* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout container */
.review_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10%;
  padding: 50px 80px;
}

/* left side */
.left_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

.movie_poster {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 100px rgb(36, 195, 216);
  border-color: #00bfff;
}

.movie_title {
  font-family: "Limelight", sans-serif;
  font-size: 2rem;
  width: 300px;
  text-align: center;
  margin-top: 2vh;
  background: transparent;
}

/* right side */
.right_section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.movieInfo_section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
}

/* review text area input */
.movie_about {
  padding: 12px;
  border: none;
  border-radius: 10px;
  resize: none;
  width: 100%;
  font-size: 1.5rem;
  background-color: #a4cdee4a;
  color: white;
  min-height: 54vh;
  margin-top: 15px;
  text-align: center;
  
}

.movie_btns {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

/* submit button */
.addWishList_btn,
.writeReview_btn {
  align-self: flex-end;
  margin-top: 25px;
  padding: 10px 14px;
  background-color: #a4cdee4a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s ease;
}

.addWishList_btn:hover,
.writeReview_btn:hover {
  background-color: #008fcc;
  transform: translate(-2px);
  box-shadow: 0 0 15px rgba(0, 191, 255, 0.6);
}

.addWishList_btn:active,
.writeReview_btn:active {
  transform: translateY(2px);
  box-shadow: inset 0 0 8px rgba(0, 191, 255, 0.5),
    0 0 5px rgba(0, 191, 255, 0.3);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 191, 255, 0.3));
}

/* responsive */ /*
@media (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
  }

  .review-section {
    max-width: 100%;
  }

  .submit-btn {
    align-self: center;
  }
}
*/
