.searchContainer {
  display: flex;
  justify-content: center;
  position: relative;
}
.searchContainer form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 100px;
  width: 500px;
  height: 40px;
  padding: 0 15px;
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.suggestion-box {
  position: absolute;
  top: 350px; /* push under search bar */
  left: 50%;
  transform: translateX(-55%); /* centering */
  width: 500px; /* match search bar width */
  background: rgba(0, 191, 255, 0.35);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(0, 191, 255, 0.3);
  border-radius: 12px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 10;
}

.suggestion-item {
  padding: 10px 12px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: rgba(0, 191, 255, 0.6);
}

h2 {
  color: #c560ca;
  border-style: solid;
  border-color: #c560ca;
  border-width: 0.1rem;
  border-radius: 20px;
  text-align: center;
  width: 15%;
  font-size: medium;
  font-family: inter;
  text-shadow: 0 0 10px #c560ca;
}
